.codeblock {
    overflow-x: auto;

    @media speech {
        speak: literal-punctuation;
    }
}

.code {
    display: block;
    font-family: var(--h-font-family-mono);
    min-inline-size: 400px;
}
