.skip-link:focus-within {
    all: unset;
    position: absolute;
    z-index: 2;
    inset-block-start: var(--h-space-base-6);
    inset-inline-start: var(--h-space-base-6);

    > a {
        padding: var(--h-space-base-4);
        background-color: var(--h-color-aux-100);
        backdrop-filter: blur(10px);
    }
}
