.page-wrapper {
    --page-header-size: 69px;
    --page-wrapper-gap: var(--h-space-base-8) var(--h-space-base-12);

    display: grid;
    grid-template: var(--page-header-size, max-content) 1fr / min-content minmax(
            0,
            var(--h-max-content-length)
        );
    grid-template-areas: 'header header header' 'nav main main';
    gap: var(--page-wrapper-gap, var(--h-space-base-4));
    align-items: start;
    min-block-size: 100vb;
    justify-content: start;
    max-inline-size: 1400px;
    margin-inline: auto;
}

.page-header {
    position: sticky;
    z-index: 3; /* Use 3 to stay above sandpack widget */
    display: flex;
    flex-wrap: wrap;
    grid-area: header;
    gap: var(--h-space-base-4);
    align-items: center;
    justify-content: space-between;
    padding: var(--h-space-base-4) 0;
    backdrop-filter: blur(20px);
    inset-block-start: 0;
}

.page-header-logo {
    inline-size: min(300px, 100%);
    contain: layout;
}

.page-navigation {
    display: flex;
    flex-wrap: wrap;
    gap: var(--h-space-base-4);
    align-items: center;
    font-weight: var(--h-font-weight-300);
    font-size: var(--h-font-size-0);

    a[aria-current='page'] {
        font-weight: var(--h-font-weight-500);
        text-decoration: underline;
        text-decoration-color: var(--h-color-brand-primary);
        text-decoration-thickness: 3px;
        text-underline-offset: 8px;
    }

    a:not([aria-current='page']):hover {
        -webkit-text-stroke: 0.5px currentcolor;
        text-stroke: 0.5px currentcolor;
    }
}
