*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        scroll-behavior: auto !important;
        transition-duration: 0.01ms !important;
    }
}

html {
    direction: ltr;
    writing-mode: horizontal-lr;
}

html,
body {
    background: var(--o-color-aux-950);
    color: var(--o-color-aux-50);
    font-family: var(--o-font-primary);
    font-size: var(--o-font-size-base-unit);
}

body {
    @include border($blockStart: 1.5rem solid var(--o-color-primary));
    @include layout($blockSize: 100%);

    -webkit-font-smoothing: antialiased;
    accent-color: var(--o-color-primary);
    line-height: 1.65;
    scrollbar-width: thin;
    scrollbar-color: var(--o-color-primary) var(--o-color-aux-50);
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: var(--o-color-aux-50);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--o-color-primary);
    border-radius: 6px;
    border: 3px solid var(--o-color-aux-50);
}

img,
picture,
video,
canvas,
svg {
    @include layout($blockSize: auto, $maxInlineSize: 100%);
    display: block;
}

img {
    object-fit: cover;
    // Defensive CSS best practice: https://ishadeed.com/article/defensive-css/#prevent-an-image-from-being-stretched-or-compressed
}

input,
button,
textarea,
select {
    font: inherit;
}

span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    @include layout($maxInlineSize: var(--o-max-content-length));
    overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    line-height: 1.25;
}

h1 {
    font-size: var(--o-font-size-5);
}

h2 {
    font-size: var(--o-font-size-3);
}

h3 {
    font-size: var(--o-font-size-2);
}

h4,
h5,
h6 {
    font-size: var(--o-font-size-1);
}

svg {
    @include layout($blockSize: 1rem);
}

* {
    :focus:not(:focus-visible) {
        outline: none;
    }

    :focus-visible {
        outline-color: currentColor;
        outline-offset: 0.15em;
        outline-width: 2px;
    }
}

*:focus:not(:focus-visible) {
    outline: none;
}

ul,
ol {
    list-style-position: inside;
}
