:root {
    --h-color-primary-lighten-200: #38646b;
    --h-color-primary-lighten-100: #31585e;
    --h-color-primary: #2a4c51;
    --h-color-primary-darken-100: #233f43;
    --h-color-primary-darken-200: #1c3235;

    --h-color-aux-50: #0a0a0b;
    --h-color-aux-100: #1d1d20;
    --h-color-aux-200: #303036;
    --h-color-aux-300: #4d4d56;
    --h-color-aux-400: #60606c;
    --h-color-aux-500: #737382;
    --h-color-aux-600: #93939f;
    --h-color-aux-700: #a9a9b2;
    --h-color-aux-800: #bebec5;
    --h-color-aux-900: #dfdfe2;
    --h-color-aux-950: #f2efe9;

    --h-font-primary: 'Horologist Primary', sans-serif;
    --h-font-secondary: 'Horologist Secondary', sans-serif;
    --h-font-mono: 'Fira Mono', monospace;

    --h-space-base: 4px;
    --h-space-base-half: calc(var(--h-space-base) / 2);
    --h-space-base-1x: var(--h-space-base);
    --h-space-base-2x: calc(var(--h-space-base) * 2);
    --h-space-base-3x: calc(var(--h-space-base) * 3);
    --h-space-base-4x: calc(var(--h-space-base) * 4);
    --h-space-base-6x: calc(var(--h-space-base) * 6);
    --h-space-base-8x: calc(var(--h-space-base) * 8);
    --h-space-base-12x: calc(var(--h-space-base) * 12);
    --h-space-base-16x: calc(var(--h-space-base) * 16);
    --h-space-base-24x: calc(var(--h-space-base) * 24);

    --h-max-content-length: 90ch;

    --h-font-size-base: 18;
    --h-font-size-base-unit: calc(var(--h-font-size-base) * 1px);

    // https://utopia.fyi/type/calculator?c=320,16,1.2,1280,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l
    --h-font-size--2: clamp(0.69rem, calc(0.69rem + 0.04vw), 0.72rem);
    --h-font-size--1: clamp(0.83rem, calc(0.81rem + 0.11vw), 0.9rem);
    --h-font-size-0: clamp(1rem, calc(0.96rem + 0.21vw), 1.13rem);
    --h-font-size-1: clamp(1.2rem, calc(1.13rem + 0.34vw), 1.41rem);
    --h-font-size-2: clamp(1.44rem, calc(1.33rem + 0.53vw), 1.76rem);
    --h-font-size-3: clamp(1.73rem, calc(1.57rem + 0.78vw), 2.2rem);
    --h-font-size-4: clamp(2.07rem, calc(1.85rem + 1.12vw), 2.75rem);
    --h-font-size-5: clamp(2.49rem, calc(2.17rem + 1.58vw), 3.43rem);
}
