.guides-nav-container {
  top: 0;
  width: 250px;
  @include bp(800) {
    display: none;
  }
}

.guides-nav {
  font-size: 1rem;
  padding: $vspace 0;

  li {
    padding: $vspace/5 $hspace/2;
  }

  .active {
    background: $secondaryColor;
    color: #fff;
  }
}
