.primary-nav {
  li {
    color: $tertiaryColor;
    text-transform: uppercase;

    a {
      display: inline-block;
      padding: $vspace $hspace;
    }

    &.active {
      background: $primaryColor;
    }
  }
}
