.primary-nav {
  li {
    color: $tertiaryColor;
    padding: $vspace $hspace;
    text-transform: uppercase;

    &:last-child {
      padding-right: 0;
    }

    &.active {
      background: $primaryColor;
    }
  }
}
