.aside-nav-container {
  top: 0;
  width: 250px;
}

.aside-nav {
  padding: $vspace 0;

  span {
    background: $secondaryColor;
    color: $tertiaryColor;
    display: block;
    font-size: 1rem;
    padding: $vspace/5 $hspace/2;
    text-transform: uppercase;
  }

  ul ul {
    font-size: 0.9rem;
    margin-bottom: $vspace/2;
  }

  ul ul li {
    font-size: 0.9rem;
    padding: $vspace/4 0 $vspace/4 $hspace;

    &:nth-child(even) {
      background: darken($tertiaryColor, 2.5%);
    }

    a {
      display: block;
    }
  }
}

.doc-specs {
  background: darken($tertiaryColor, 2.5%);
  font-size: 0.9rem;
  margin: 5px 0;
  padding: 0.5rem;

  div {
    margin-right: $hspace;
  }
}

.doc-property-container {
  margin-bottom: $vspace*2;
}

.doc-tree-group {
  cursor: pointer;
}
