.secondary-nav {
  background: $primaryColor;
  margin: $vspace/2 -#{$hspace};

  li {
    color: $tertiaryColor;
    padding: $vspace/2 $hspace;

    &:last-child {
      padding-right: 0;
    }

    &.active {
      background: $tertiaryColor;
      color: $primaryColor;
    }
  }
}
