.hand {
  transform-origin: bottom center;
  transition: transform 0.15s linear;

  &.offset {
    transform-origin: center;
  }

  &.sweep {
    transition-duration: 1s;
    transition-timing-function: linear;
  }

  &.jumping {
    transition-duration: 0s;
    transition-timing-function: linear;
  }
}

#crown {
  cursor: pointer;
  transform: translateX(0);
  transition: transform 0.5s ease;

  &.active {
    transform: translateX(4px);
  }
}

.faded {
  opacity: 0.1;
  transition: opacity 0.5s ease;
}

.st0 {
  fill: #111111;
}

.st1 {
  fill: #191919;
}

.st2 {
  fill: #212121;
}

.st3 {
  opacity: 0.42;
}

.st4 {
  fill: #363636;
}

.st5 {
  fill: #5A5A5B;
}

.st6 {
  fill: #202020;
}

.st7 {
  fill: #3D3D3D;
}

.st8 {
  opacity: 0.5;
}

.st9 {
  fill: #DEE1E2;
}

.st10 {
  fill: #E2E5E6;
}

.st11 {
  fill: #EFEFEF;
}

.st12 {
  fill: #2D2D2D;
}

.st13 {
  fill: #F4F4F4;
}

.st14 {
  fill: #D1D1D3;
}

.st15 {
  fill: #AFAFAF;
}

.st16 {
  fill: #DBDBDB;
}

.st17 {
  fill: #D3D3D3;
}

.st18 {
  fill: #444444;
}

.st19 {
  fill: #F2F2F2;
}

.st20 {
  fill: #606060;
}

.st21 {
  fill: #4C4C4C;
}

.st22 {
  fill: #383838;
}

.st23 {
  fill: #2F3438;
}

.st24 {
  fill: #3C4042;
}

.st25 {
  fill: #1C1C1C;
}

.st26 {
  fill: none;
  stroke: #1E2123;
  stroke-width: 4;
  stroke-miterlimit: 10;
}

.st27 {
  fill: #585E5E;
}

.st28 {
  fill: #1D1E1E;
}

.st29 {
  fill: #2F3438;
  stroke: #151616;
  stroke-width: 0.25;
  stroke-miterlimit: 10;
}

.st30 {
  fill: none;
  stroke: #8E8E8E;
  stroke-miterlimit: 10;
}

.st31 {
  fill: none;
  stroke: #151616;
  stroke-width: 0.25;
  stroke-miterlimit: 10;
}

.st32 {
  fill: none;
  stroke: #151616;
  stroke-width: 0.75;
  stroke-miterlimit: 10;
}

.st33 {
  fill: #FFFFFF;
}

.st34 {
  fill: #F7F7F7;
}

.st35 {
  fill: #BF3934;
  stroke: #772424;
  stroke-width: 0.25;
  stroke-miterlimit: 10;
}

.st36 {
  fill: #A52929;
}

.st37 {
  fill: none;
}

.st38 {
  fill: #BF3934;
}

.st39 {
  fill: #913434;
}

.st40 {
  fill: #BFBFBF;
  stroke: #999999;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}

.st41 {
  fill: #AEAFAF;
  stroke: #999999;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}

.st42 {
  fill: #BFBFBF;
}

.st43 {
  fill: #AFAEAE;
}

.st44 {
  fill: #D8D6D6;
}

.st45 {
  fill: #878686;
}

.st46 {
  fill: #C1C1C1;
}

.st47 {
  opacity: 0.72;
  fill: #383836;
}

.st48 {
  fill: #E5E3E3;
}

.st49 {
  fill: #161616;
}

.st50 {
  fill: #111111;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.st51 {
  fill: #E2E2E2;
}

.st52 {
  fill: #1E1E1E;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.st53 {
  fill: #939393;
}

.st54 {
  fill: #333333;
}

.st55 {
  fill: #991F1F;
}

.st56 {
  fill: #333333;
  stroke: #111111;
  stroke-miterlimit: 10;
}

.st57 {
  fill: #BF3934;
  stroke: #561818;
  stroke-width: 0.25;
  stroke-miterlimit: 10;
}

.st58 {
  fill: #F4F4F4;
  stroke: #141414;
  stroke-miterlimit: 10;
}

.st59 {
  fill: #999999;
  stroke: #141414;
  stroke-miterlimit: 10;
}

.st60 {
  fill: #666565;
  stroke: #141414;
  stroke-miterlimit: 10;
}

.st61 {
  fill: #E8E8E8;
  stroke: #141414;
  stroke-miterlimit: 10;
}

.st62 {
  fill: #D3D3D3;
  stroke: #141414;
  stroke-miterlimit: 10;
}

.st63 {
  fill: none;
  stroke: #141414;
  stroke-miterlimit: 10;
}

.st64 {
  fill: #999999;
}

.st65 {
  fill: #666565;
}

.st66 {
  fill: #E8E8E8;
}

.st67 {
  fill: none;
  stroke: #E2E0E0;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.st68 {
  fill: none;
  stroke: #A8A7A7;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.st69 {
  fill: none;
  stroke: #F4F4F4;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.st70 {
  fill: #F4F4F4;
  stroke: #0C0C0C;
  stroke-miterlimit: 10;
}

.st71 {
  fill: #999999;
  stroke: #0C0C0C;
  stroke-miterlimit: 10;
}

.st72 {
  fill: #666565;
  stroke: #0C0C0C;
  stroke-miterlimit: 10;
}

.st73 {
  fill: #E8E8E8;
  stroke: #0C0C0C;
  stroke-miterlimit: 10;
}

.st74 {
  fill: #D3D3D3;
  stroke: #0C0C0C;
  stroke-miterlimit: 10;
}

.st75 {
  fill: none;
  stroke: #0C0C0C;
  stroke-miterlimit: 10;
}

.st76 {
  fill: #706F6F;
}

.st77 {
  fill: none;
  stroke: #C6C6C6;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.st78 {
  fill: #A3A2A2;
}

.st79 {
  fill: none;
  stroke: #909091;
  stroke-width: 8;
  stroke-miterlimit: 10;
}

.st80 {
  fill: none;
  stroke: #E8E8E8;
  stroke-width: 8;
  stroke-miterlimit: 10;
}

.st81 {
  fill: none;
  stroke: #E0E1E2;
  stroke-width: 8;
  stroke-miterlimit: 10;
}

.st82 {
  fill: #AAAAAA;
}

.st83 {
  fill: #9E9E9E;
}

.st84 {
  fill: #A7A7A8;
}

.st85 {
  fill: #545454;
}

.st86 {
  opacity: 0.01;
  fill: #F9F9F9;
}

.blackout {
  opacity: 0;
  fill: #000;
  transition: opacity 0.25s ease;

  &.active {
    opacity: 0.7;
  }
}

.st87 {
  opacity: 0.2;
  fill: #F9F9F9;
}

.st88 {
  opacity: 0.25;
  fill: #262626;
}
