.has-spacer:after {
  background: #333;
  content: '';
  display: block;
  height: 1px;
  margin: $vspace 0;
  width: 125px;
}

.is-centered {
  text-align: center;

  &.has-spacer:after,
  .has-spacer:after {
    margin: $vspace auto;
  }
}

.is-strong {
  font-weight: 700;
}

.is-hidden {
  display: none;
}

.is-rounded {
  border-radius: 50%;
}
