* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    display: grid;
    width: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 5rem;
    gap: 1rem;
}

#tri-pusher.active,
#dual-pusher.active,
#mono-pusher.active {
    background: red;
    transition: all 0.15s ease;
}

#tenths-hand,
#seconds-hand,
#minutes-hand,
#hours-hand,
#split-seconds-hand,
#split-minutes-hand,
#split-hours-hand {
    background: #efefef;
    border-top: 3px solid black;
    transform-origin: 50%;
    height: 100px;
    width: 5px;
    transition: none;
}

#split-seconds-hand,
#split-minutes-hand,
#split-hours-hand {
    background: teal;
    border-top: 3px solid orange;
    transform-origin: 50%;
    height: 100px;
    width: 5px;
    transition: none;
}
