* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
}

#dial {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    position: relative;
}

#one,
#two,
#three,
#four,
#five,
#six,
#seven,
#eight,
#nine,
#ten,
#eleven,
#twelve {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    transform-origin: 50%;
    height: 200px;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 50%;
}

#one {
    transform: rotate(30deg);
}
#two {
    transform: rotate(60deg);
}
#three {
    transform: rotate(90deg);
}
#four {
    transform: rotate(120deg);
}
#five {
    transform: rotate(150deg);
}
#six {
    transform: rotate(180deg);
}
#seven {
    transform: rotate(210deg);
}
#eight {
    transform: rotate(240deg);
}
#nine {
    transform: rotate(270deg);
}
#ten {
    transform: rotate(300deg);
}
#eleven {
    transform: rotate(330deg);
}
