.list-container li {
    margin-inline-start: 1em;
    list-style-position: outside;
    padding-block: var(--h-space-base-1);

    ::marker {
        margin-inline-end: 0.5em;
    }
}

ol.list-container {
    list-style-type: decimal;

    ::marker {
        font-weight: var(--h-font-weight-500);
    }
}

ul.list-container {
    list-style-type: square;

    ::marker {
        font-weight: var(--h-font-weight-500);
    }
}
