@font-face {
    font-weight: 300 700;
    font-family: 'Horologist Primary';
    font-style: normal;
    src: url('/fonts/raleway-variable.woff2') format('woff2'),
        url('/fonts/raleway-variable.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-weight: 300 700;
    font-family: 'Horologist Secondary';
    font-style: normal;
    src: url('/fonts/jost-variable.woff2') format('woff2'),
        url('/fonts/jost-variable.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-weight: 400;
    font-family: 'Fira Mono';
    font-style: normal;
    src: url('/fonts/fira-mono-regular.woff') format('woff');
    font-display: swap;
}
