:root {
    --h-color-aux-100: rgb(29 29 32);
    --h-color-aux-200: rgb(48 48 54);
    --h-color-aux-300: rgb(77 77 86);
    --h-color-aux-400: rgb(96 96 108);
    --h-color-aux-50: rgb(10 10 11);
    --h-color-aux-500: rgb(115 115 130);
    --h-color-aux-600: rgb(147 147 159);
    --h-color-aux-700: rgb(169 169 178);
    --h-color-aux-800: rgb(190 190 197);
    --h-color-aux-900: rgb(223 223 226);
    --h-color-aux-950: rgb(242 239 233);
    --h-color-brand-primary: rgb(242 81 36);
    --h-color-brand-primary-50: rgba(242 81 36 / 50%);
    --h-color-brand-secondary: rgb(18 18 18);

    @supports (color: lch(0% 100 240)) {
        --h-color-aux-100: lch(10.862% 2.147 285.827deg);
        --h-color-aux-200: lch(20.044% 3.989 286.051deg);
        --h-color-aux-300: lch(32.996% 5.542 286.068deg);
        --h-color-aux-400: lch(41.052% 7.113 286.152deg);
        --h-color-aux-50: lch(2.759% 0.404 285.248deg);
        --h-color-aux-500: lch(48.832% 8.611 286.211deg);
        --h-color-aux-600: lch(61.229% 6.594 285.867deg);
        --h-color-aux-700: lch(69.448% 4.822 285.657deg);
        --h-color-aux-800: lch(77.134% 3.67 285.533deg);
        --h-color-aux-900: lch(88.889% 1.527 285.353deg);
        --h-color-aux-950: lch(94.557% 3.294 85.372deg);
        --h-color-brand-primary: lch(57.81% 84.999 43.861deg);
        --h-color-brand-primary-50: lch(57.81% 84.999 43.861deg / 50%);
        --h-color-brand-secondary: lch(5.464% 0 139.088deg);
    }

    --h-font-family-mono: 'Fira Mono', monospace;
    --h-font-family-primary: 'Horologist Primary', sans-serif;
    --h-font-family-secondary: 'Horologist Secondary', sans-serif;
    /* stylelint-disable-next-line custom-property-pattern */
    --h-font-size--1: clamp(0.83rem, calc(0.81rem + 0.11vw), 0.9rem);
    --h-font-size-0: clamp(1rem, calc(0.96rem + 0.21vw), 1.13rem);
    --h-font-size-1: clamp(1.2rem, calc(1.13rem + 0.34vw), 1.41rem);
    --h-font-size-2: clamp(1.44rem, calc(1.33rem + 0.53vw), 1.76rem);
    --h-font-size-3: clamp(1.73rem, calc(1.57rem + 0.78vw), 2.2rem);
    --h-font-size-4: clamp(2.07rem, calc(1.85rem + 1.12vw), 2.75rem);
    --h-font-size-5: clamp(2.49rem, calc(2.17rem + 1.58vw), 3.43rem);
    --h-font-size-base-unit: calc(var(--h-font-size-base) * 1px);
    --h-font-size-base: 16;
    --h-font-weight-300: 300;
    --h-font-weight-400: 400;
    --h-font-weight-500: 500;
    --h-font-weight-700: 700;
    --h-max-content-length: 90ch;
    --h-space-base-1-fluid: calc(var(--h-space-base) * 1rem);
    --h-space-base-12-fluid: calc(var(--h-space-base-12x) * 1rem);
    --h-space-base-12: calc(var(--h-space-base) * 12);
    --h-space-base-16-fluid: calc(var(--h-space-base-16x) * 1rem);
    --h-space-base-16: calc(var(--h-space-base) * 16);
    --h-space-base-1x: var(--h-space-base);
    --h-space-base-2-fluid: calc(var(--h-space-base-2x) * 1rem);
    --h-space-base-2: calc(var(--h-space-base) * 2);
    --h-space-base-24-fluid: calc(var(--h-space-base-24x) * 1rem);
    --h-space-base-24: calc(var(--h-space-base) * 24);
    --h-space-base-3-fluid: calc(var(--h-space-base-3x) * 1rem);
    --h-space-base-3: calc(var(--h-space-base) * 3);
    --h-space-base-4-fluid: calc(var(--h-space-base-4x) * 1rem);
    --h-space-base-4: calc(var(--h-space-base) * 4);
    --h-space-base-6-fluid: calc(var(--h-space-base-6x) * 1rem);
    --h-space-base-6: calc(var(--h-space-base) * 6);
    --h-space-base-8-fluid: calc(var(--h-space-base-8x) * 1rem);
    --h-space-base-8: calc(var(--h-space-base) * 8);
    --h-space-base-half-fluid: calc(var(--h-space-base-half) * 1rem);
    --h-space-base-half: calc(var(--h-space-base) / 2);
    --h-space-base: 4px;
}
