@import './../../styles/variables.scss';

.main-header {
  background: $secondaryColor;
  border-bottom: 3px solid $primaryColor;
  padding: 0 $hspace;

  .flex-container {
    align-items: center;
  }
}
