@import '../../../../../node_modules/@organicss/scss';
@import '../showcase/watch-datograph';

body {
    @include layout($blockSize: 100vh);
    overflow: hidden;
}

#datograph {
    @include layout($blockSize: 220vh);
    @include position($blockStart: 50%, $inlineStart: 0);

    opacity: var(--h-color-overlay-opacity);
    position: absolute;
    transform: translate(calc(max(20vw, 20%) * -1), -50%);
    transition: all 0.5s ease;

    @media (max-width: 1000px) {
        @include position($blockStart: 50%, $inlineStart: 50%);

        opacity: calc(var(--h-color-overlay-opacity) - 0.2);
        transform: translate(-50%, -50%);
    }
}

#landing-content {
    @include layout($blockSize: 100vh, $inlineSize: 100%);
    @include padding($inlineEnd: calc(33% - 250px));

    display: grid;
    place-items: center end;
    position: relative;
    z-index: 1;

    svg {
        @include layout($inlineSize: min(90vw, 500px));
    }

    code {
        @include padding($padding: var(--h-space-base-4x));
        display: block;
    }

    @media (max-width: 1000px) {
        @include padding($padding: var(--h-space-base-4x));
        place-items: center;
    }
}

#landing-inner-content {
    display: grid;
    grid-gap: var(--h-space-base-6x);
    justify-content: center;
    text-align: center;
}
